@charset "utf-8";



.main {
  display: flex;
  margin: {
    top: 10px;
  }
}



.spotTable {
  min-width: 50%;
  font: {
    size: 15px;
  }
  &__smBox {
    position: relative;
    width: 78px;
  }
  &__lgBox {
    position: absolute;
    z-index: 1;
    width: 300px;
    padding: 10px;
    top: 0;
    left: calc(100% + 16px);
    background: {
      color: #fff;
    }
    box: {
      shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__link {
    color: #0077b5;
    &:hover {
      text: {
        decoration: none;
      }
    }
  }
  &__thead {
    background: {
      color: #f8f8f8;
    }
    border: {
      bottom: solid 2px #ccc;
    }
  }
  &__td,&__th {
    border: solid 1px #ddd;
    vertical-align: middle;
  }
  &__td {
    padding: 13px 10px;
    line-height: 1.25rem;
  }
  
  &__th {
    padding: 10px;
    line-height: 1.25rem;
    color: #707070;
  }
  &__tbody:hover {
    .spotTable {
      &__tr:hover {
        background: {
          color: #EFF4F7;
        }
      }
    }
  }
}

.page {
  display: flex;
  flex: {
    direction: column;
  }
  margin: {
    left: 23px;
  }
  &__btn{
    position: relative;
    margin: {
      top: 6px;
      bottom: 6px;      
    }
    border: 0;
    background: {
      color: transparent;
    }
    cursor: pointer;
    font: {
      size: 15px;
    }
    color: #888;
    &:hover{
      color: #666;
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: {
    color: rgba(0, 0, 0, 0.7);
  }
  &__img {
    display: block;
  }
}
